/*Page cover*/
.overlay {
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #8B0000;
    overflow-y: hidden;
    transition: 0.5s;
}

.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
    }
.overlay-content h1 {
  font-family: Chewy, cursive;
  font-size: 100px;
  color: burlywood;
}
.overlay a {
    font-family: Cabin sketch;
    padding: 20px;
    text-decoration: none;
    font-size: 50px;
    color: black;
    display: block;
    transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
}

@media screen and (max-height: 450px) {
  .overlay {overflow-y: auto;}
  .overlay a {font-size: 20px}
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}
/*End of page cover*/
.row {
  background: linear-gradient(to bottom, #8b0000 0%, white 100%);
  background-size: auto;
  opacity: 0.8;
  padding: 7%;
}
header img {
  float: left;
  height: 5%;
  width: 15%;
  opacity: 0.8;
}
#headText {
  font-size: 500%;
  text-align: right;
  color: #0d0d0d;
  font-family: Chewy, cursive;
}
